body {
  background-color: #141414;
}
.search {
  position: relative;
  top: 100px;
}
.row {
  color: white;
  margin-left: 20px;
  background-color: #141414;
}
.rowPosters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.rowPosters::-webkit-scrollbar {
  display: none;
}
.rowTitle {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 30px;
  margin-top: 10px;
}
.rowPoster {
  object-fit: contain;
  width: 100%;
  max-height: 150px;
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 5px;
}
.rowPoster:hover {
  transform: scale(1.08);
}
.rowPosterLarge {
  max-height: 250px;
}
.rowPosterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}
